---
title: 'Stephanie Mallamaci'
---

{# 🦆🦆🦆 <- my row of ducks #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
