<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
      <div class="page-container">
          {% if pageTitle %}
            <header>
                {{ pageTitle }}
            </header>
        {% endif %}
        <main>
            {{ content | safe }}
        </main>
        <footer>
            .·:*¨༺ © 2026 ༻¨*:·.
        </footer>
      </div>
  </body>
</html>
