<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Stephanie Mallamaci</title>
    <script src="/script.js" defer></script>
  </head>
  <!-- 
  This whole site is mostly just a playground for me to experiment with different designs and SVG 
  If you are reading this, I make no guarantee of the quality of code on this page
  Welcome to my mind palace :)
  -->
  <body>
      <img class="millefleur milleflower-5" src="/assets/milleflower2_1.svg" alt="a hand-painted and vectorized flower" aria-hidden="true" />
      <div class="accent accent-left" aria-hidden="true">
          <div></div><div class="motif-grid"></div><div class="motif-scales"></div><div></div><div></div><div class="motif-triangle"></div>
      </div>
      <img class="millefleur milleflower-1" src="/assets/milleflower1.svg" alt="a hand-painted and vectorized flower" aria-hidden="true" />
      <img class="millefleur milleflower-2" src="/assets/milleflower1.svg" alt="a hand-painted and vectorized flower" aria-hidden="true" />
      <div class="page-container">
          {% if pageTitle %}
            <header>
                {{ pageTitle }}
            </header>
        {% endif %}
        <main>
            {{ content | safe }}
        </main>
        <footer>
            .·:*¨༺ © 2026 ༻¨*:·.
        </footer>
      </div>
      <img class="millefleur milleflower-3" src="/assets/milleflower1.svg" alt="a hand-painted and vectorized flower" aria-hidden="true" />
      <img class="millefleur milleflower-4" src="/assets/milleflower1.svg" alt="a hand-painted and vectorized flower" aria-hidden="true" />
      <div class="accent accent-right" aria-hidden="true">
          <div class="motif-scales"></div><div></div><div></div><div class="motif-grid"></div><div></div><div class="motif-waves"></div>
      </div>
      <img class="millefleur milleflower-6" src="/assets/milleflower2_1.svg" alt="a hand-painted and vectorized flower" aria-hidden="true" />
  </body>
</html>
